<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>

        <!-- 工作模式:master或slave -->
        <workModel>slave</workModel>

        <!-- http状态端口: master用13700~13799, slave用13800~13899 -->
        <httpPort>13700</httpPort>

    <!-- master -->


    <!-- slave -->
        <!-- TCP监听数据端口,监听来自master的消息 -->
        <slaveListenPort>13900</slaveListenPort>
        <!-- AWS S3 bucket name -->
        <slaveAWSBucketName>upsmart-portrait-audience-analysis</slaveAWSBucketName>
        <!-- TCP监听数据端口,监听来自master的消息 -->
        <slaveAWSRegion>cn-north-1</slaveAWSRegion>

    </appSettings>

    <!-- master需要: slave地址,可以有多个slave同时提供服务 -->
    <slaveAddresses>
    	 <add name="SLAVE_0" value="192.168.87.251" />
    	 <add name="SLAVE_1" value="192.168.87.251" />
    	 <add name="SLAVE_2" value="192.168.87.251" />
    </slaveAddresses>

    <!-- slave 需要: 控量数据所在的redis -->
	<slaveRedis>
		<add name="IP" value="54.223.181.94" />
		<add name="PORT" value="6379" />
		<add name="PASSWORD" value="" />
        <add name="MAX_IDLE" value="5" />
        <add name="MAX_ACTIVE" value="10" />
        <add name="DB" value="5" />
        <add name="CONN_TIMEOUT" value="120000" />
        <add name="READ_TIMEOUT" value="60000" />
	</slaveRedis>

</configuration>